# Python virtual environment
**/project1/
**/project2/
**/project3/
**/project4/
**/project5/
**/project6/
**/project7/
**/project8/
**/project9/
**/project10/
**/project11/
**/project12/
**/project13/
**/project14/
**/project15/
**/project16/
**/project17/
**/project18/
**/project19/
**/project20/
**/project21/
**/project22/

# Data files
Project 1 EDA Portfolio/TWO_CENTURIES_OF_UM_RACES.csv
Project 4 Titanic/train.csv
Project 5 Housing Price/housing.csv
Project 6 Image Classification/test 
Project 6 Image Classification/New Plant Diseases Dataset(Augmented)
Project 7 Sentiment Analysis/IMDB Dataset.csv
Project 8 Customer Churn Predictor/customer_churn_data.csv

# Trained models
Project 6 Image Classification/trained_model.h5
Project 6 Image Classification/trained_model.keras
Project 7 Sentiment Analysis/sentiment_analysis_model.h5
Project 7 Sentiment Analysis/tokenizer.pkl
Project 8 Customer Churn Predictor/model.pkl
Project 8 Customer Churn Predictor/scaler.pkl
Project 9 Stock Price Predictor/stock_price_predictor.h5

# Compiled files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Kaggle
kaggle.json

